/* import the font from google */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

.app{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.header{
  z-index: 1;
}
.heading{
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}

/* +++++++++++++++++++ START STYLE INPUT FIELD SECTION +++++++++++++++++++ */

 .input-section{
  width: 100%;
 }
form.row{
  position: relative;
}

 .input-section .form-control-lg{
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  height: 60px;
  border: none;
  outline: none;
  box-shadow: inset 0 0 5px #000;
  transition: .2s;
 }

 .input-section .form-control-lg:focus{
  outline: none;
  box-shadow: 0 0 20px 1000px #00000075;
 }

 .input-section .btn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: 15px;
  font-size: 14px;
  font-weight: 900;
  transform: translateY(10px);
  transition: .2s;
  box-shadow: 0 0 15px #000;
}

 .input-section .btn:active{
  transform: scale(.8) translateY(15px);
  box-shadow: 0 0 7.5px #000;
  font-size: 13px;
 }

 .input-section .btn:focus{
  outline: none;
 }
/* +++++++++++++++++++ END STYLE INPUT FIELD SECTION +++++++++++++++++++ */
